
@{
    ViewBag.Title = "Yeni Seyahat Planlama";
}


<div id="con-close-modal" class="modal-demo">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" onclick="Custombox.close();" aria-hidden="true">×</button>
                <h4 class="modal-title">Yeni Masraf Detayı</h4>
            </div>
            <form class="" id="addnewitemform" data-parsley-validate novalidate>
                <div class="modal-body">

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="expansetype" class="control-label">Masraf Türü</label>
                                <select class="form-control" id="expansetype">
                                    <option value="01">Konaklama</option>
                                    <option value="02">Yemek</option>
                                </select>

                            </div>

                            <div class="form-group">
                                <label for="amount" class="control-label">Miktar</label>
                                <input type="text" class="form-control" onkeypress='validate(event)' />
                            </div>

                            <div class="form-group">
                                <label for="description" class="control-label">Açıklama</label>
                                <textarea id="description" class="form-control" cols="5" rows="5"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="cancelButton" class="btn btn-default waves-effect" data-dismiss="modal" onclick="Custombox.close();">İptal</button>
                    <button type="submit" id="saveButton" class="ladda-button btn btn-success waves-effect waves-light" data-style="contract">Kaydet</button>
                </div>
            </form>
        </div>
    </div>
</div><!-- /.modal -->


<div class="row">
    <div class="col-sm-12">
        <div class="btn-group pull-right m-t-15">
            <button type="button" class="btn btn-default dropdown-toggle waves-effect waves-light" data-toggle="dropdown" aria-expanded="false">Ayarlar <span class="m-l-5"><i class="fa fa-cog"></i></span></button>
            <ul class="dropdown-menu drop-menu-right" role="menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li><a href="#">Separated link</a></li>
            </ul>
        </div>

        <h4 class="page-title">Seyahat Planlama Formu</h4>
        <p class="text-muted page-title-alt">Welcome to Ubold admin panel !</p>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="card-box">
            <div class="row">
                <form class="">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label" for="uniqueId">Tarih:</label>
                            <input type="text" class="form-control datepicker-autoclose-currentdate" placeholder="gg/aa/yyyy" id="">
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="username">Adı Soyadı:</label>
                            <input type="text" class="form-control" placeholder="Adı Soyadı" id="username">
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="expanselocation">Masraf Yeri:</label>
                            <select class="form-control select2" id="expanselocation">
                                <option value="01">Beşiktaş Şube</option>
                                <option value="02">İstinye Şube</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <table class="table table-responsive">
                            <tr>
                                <td><label>Seyahat No:</label></td>
                                <td>#1232131312</td>
                            </tr>
                            <tr>
                                <td><label>Seyahat Rotası:</label></td>
                                <td><input type="text" class="form-control" placeholder="Örn: Almanya/Berlin" id="travelroute"></td>
                            </tr>
                            <tr>
                                <td><label>Seyahat Başlangıç:</label></td>
                                <td><input type="text" class="form-control datepicker-autoclose-currentdate" placeholder="dd/gg/yyyy" id="travelstartdate"></td>
                            </tr>
                            <tr>
                                <td><label>Seyahat Bitiş:</label></td>
                                <td><input type="text" class="form-control datepicker-autoclose" placeholder="dd/gg/yyyy" id="travelenddate"></td>
                            </tr>
                            <tr>
                                <td><label>Seyahat Nedeni:</label></td>
                                <td><input type="text" class="form-control" placeholder="Örn: İş Seyahati" id="travelreason"></td>
                            </tr>
                            <tr>
                                <td><label>Avans Talebi (TL):</label></td>
                                <td><input type="text" class="form-control" onkeypress='validate(event)' placeholder="" id="advanceamount"></td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-sm-12">
                        <table class="table table-responsive">

                            <thead>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td><button class="btn btn-success" id="addnewitem">Ekle</button></td>
                                </tr>
                                <tr>
                                    <td>Masraf Kalemi</td>
                                    <td>Açıklama</td>
                                    <td>Miktar</td>
                                    <td>Bütçe</td>
                                    <td>Toplam Bütçe</td>
                                    <td>Planlanan Fiyat</td>
                                    <td>Planlanan Toplam Bütçe</td>
                                    <td>Fark</td>
                                </tr>

                            </thead>
                            <tbody></tbody>
                            <tfoot>
                                <tr>
                                    <td>TOPLAM</td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

@section pagecss{

    <!--Datepicker css-->
    <link href="@Url.Content("~/assets/plugins/bootstrap-datepicker/css/bootstrap-datepicker.min.css")" rel="stylesheet">
    <!--Select css -->
    <link href="@Url.Content("~/assets/plugins/select2/css/select2.min.css")" rel="stylesheet" type="text/css" />
    <!-- Modal css -->
    <link href="@Url.Content("~/assets/plugins/custombox/css/custombox.css")" rel="stylesheet">
}


@section midjslibs{
    <script src="@Url.Content("~/assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js")"></script>
    <script src="@Url.Content("~/assets/plugins/select2/js/select2.min.js")" type="text/javascript"></script>
}

@section finaljscodes{

    <!-- Modal-Effect -->
    <script src="@Url.Content("~/assets/plugins/custombox/js/custombox.min.js")"></script>
    <script src="@Url.Content("~/assets/plugins/custombox/js/legacy.min.js")"></script>

    <!--Page Codes-->
    <script type="text/javascript">

        function validate(evt) {
            var theEvent = evt || window.event;
            var key = theEvent.keyCode || theEvent.which;
            key = String.fromCharCode(key);
            var regex = /[0-9]|\./;
            if (!regex.test(key)) {
                theEvent.returnValue = false;
                if (theEvent.preventDefault) theEvent.preventDefault();
            }
        }

        $(document).ready(function () {
            $.fn.datepicker.dates['tr'] = {
                days: ["Pazar", "Pazartesi", "Salı", "Çarşamba", "Perşembe", "Cuma", "Cumartesi"],
                daysShort: ["Pzr", "Paz", "Sal", "Çar", "Per", "Cum", "Cms"],
                daysMin: ["Pz", "Pa", "Sa", "Ça", "Pe", "Cm", "Cr"],
                months: ["Ocak", "Şubat", "Mart", "Nisan", "Mayıs", "Haziran", "Temmuz", "Ağustos", "Eylül", "Ekim", "Kasım", "Aralık"],
                monthsShort: ["Ock", "Şub", "Mrt", "Nis", "May", "Haz", "Tem", "Agt", "Eyl", "Ekm", "Kas", "Ara"],
                today: "Bugün",
                clear: "Temizle",
                format: "dd/mm/yyyy",
                titleFormat: "MM yyyy",
                weekStart: 0
            };

            //Add click handler for add button
            $('#addnewitem').click(function (e) {
                Custombox.open({
                    target: '#con-close-modal',
                    effect: 'fade-in',
                    overlayClose: false,
                    close: function () {
                        //Clear Modal Fields
                        $("#addnewitemform").trigger('reset');
                    }
                });

                $("#expansetype").select2({
                    dropdownParent: $("#con-close-modal")
                });

                e.preventDefault();
            });

            $('.datepicker-autoclose-currentdate').datepicker({
                autoclose: true,
                todayHighlight: true,
                format: 'dd/mm/yyyy',
                language: 'tr'
            }).datepicker("setDate", new Date());

            $('.datepicker-autoclose').datepicker({
                autoclose: true,
                todayHighlight: true,
                format: 'dd/mm/yyyy',
                language: 'tr'
            });

            $(".select2").select2();

        });
    </script>
}