@using MarsAhletic.WebUI.Models
@{
    ViewBag.Title = "M-Port | Kullanıcı Ekle";
}

@model AddNewUserViewModel

<div class="row">
    <div class="col-sm-12">
        <h4 class="page-title">Yeni Kullanıcı Ekleme</h4>
        <ol class="breadcrumb">
            <li>
                <a href="javascript:void(0);">Ayarlar</a>
            </li>
            <li>
                <a href="@Url.Action("ListUsers", "Administration")">Kullanıcılar</a>
            </li>
            <li class="active">
                Yeni Kullanıcı Ekleme
            </li>
        </ol>
        <p class="text-muted page-title-alt">Modülleri kullanacak kullanıcıları buradan tanımlayabilirsiniz.</p>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="card-box">
            <form method="post" id="addnewuser" action="@Url.Action("AddNewUser", "Administration")" data-parsley-validate>
                @Html.AntiForgeryToken()
                <div class="form-group">
                    <label>Giriş Hesabı:</label>
                    @Html.DropDownList("LoginAccountId", Model.LoginAccounts, "Giriş hesabı seçiniz..", new { id = "LoginAccountId", @class = "form-control select2", required = true })
                </div>
                <div class="form-group">
                    <label>Departman:</label>
                    @Html.TextBoxFor(m => m.DepartmentText, new { id = "DepartmentText", @class = "form-control", style = "display:none;", @readonly = true })
                    <div id="DepartmentBox">
                        @Html.DropDownListFor(m => m.Department, Model.Departments, "Bir departman seçiniz..", new { id = "Department", @class = "form-control select2", required = true })
                    </div>
                </div>
                <div class="form-group">
                    <label>Şube/Ofis/İşyeri:</label>
                    @Html.TextBoxFor(m => m.OfficeText, new { id = "OfficeText", @class = "form-control", style = "display:none;", @readonly = true })
                    <div id="OfficeBox">
                        @Html.DropDownListFor(m => m.Office, Model.Offices, "Bir şube seçiniz..", new { id = "Office", @class = "form-control select2", required = true })
                    </div>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <input id="IsDeptManager" name="IsDeptManager" type="checkbox" value="true" @(Model.IsDeptManager ? "checked=\"checked\"" : "")>

                        <label for="IsDeptManager">
                            Departman Yöneticisi
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <input id="IsHighManager" name="IsHighManager" type="checkbox" value="true" @(Model.IsHighManager ? "checked=\"checked\"" : "")>

                        <label for="IsHighManager">
                            Üst Yönetici
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <input id="IsDeactive" name="IsDeactive" type="checkbox" value="true" @(Model.IsDeactive ? "checked=\"checked\"" : "")>
                        <label for="IsDeactive">
                            Deaktif
                        </label>
                    </div>
                </div>
                <div class="form-group text-right m-b-0">
                    <button class="btn btn-primary waves-effect waves-light" type="submit">
                        Kaydet
                    </button>
                    <a href="@Url.Action("ListUsers", "Administration")" class="btn btn-default waves-effect waves-light m-l-5">
                        İptal
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>

@section pagecss{
    <!--Select css -->
    <link href="@Url.Content("~/assets/plugins/select2/css/select2.min.css")" rel="stylesheet" type="text/css" />
}

@section midjslibs{
    <script src="@Url.Content("~/assets/plugins/select2/js/select2.min.js")" type="text/javascript"></script>
}

@section finaljscodes{
    <script src="https://cdn.jsdelivr.net/jquery.loadingoverlay/latest/loadingoverlay.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.loadingoverlay/latest/loadingoverlay_progress.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".select2").select2();


            $('#IsHighManager').change(function () {
                if ($("#IsHighManager").is(":checked")) {
                    if ($("#IsDeptManager").is(":checked")) {
                        $('#IsDeptManager').prop('checked', false);
                    }
                }
            });

            $('#IsDeptManager').change(function () {
                if ($("#IsDeptManager").is(":checked")) {
                    if ($("#IsHighManager").is(":checked")) {
                        $('#IsHighManager').prop('checked', false);
                    }
                }
            });

            $("#LoginAccountId").on('change', function (e) {

                var loginAccountId = $("#LoginAccountId").val();

                if (loginAccountId != "" && loginAccountId !=null) {
                    FindAndSetDepartmentAndOffice(loginAccountId);
                }
                

            });


        });

        function FindAndSetDepartmentAndOffice(userId) {
            $.ajax({
                type: "POST",
                async: false,
                beforeSend: function () {
                    $.LoadingOverlay("show");
                },
                url: "/Administration/GetLoginAccountInfo",
                data: JSON.stringify({ UserId: userId }),
                contentType: "application/json; charset=utf-8"
            }).done(FindAndSetDepartmentAndOfficeHandler)
                .fail(function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                    $.LoadingOverlay("hide");
                });

        }

        function FindAndSetDepartmentAndOfficeHandler(data) {
            if (data.External) {
                SetDepartmentAndOffice(data.Name);
            }
            else {
               

                $("#DepartmentText").hide();
                $("#DepartmentText").val('');
                $("#DepartmentBox").show();
                $("#Department").val('').trigger('change');
                $("#Department").attr("required", "true");

                $("#OfficeText").hide();
                $("#OfficeText").val('');
                $("#OfficeBox").show();
                $("#Office").val('').trigger('change');
                $("#Office").attr("required", "true");

                $.LoadingOverlay("hide");
            }
        }

        function SetDepartmentAndOffice(username) {
            $.ajax({
                type: "POST",
                async: false,
                url: "/Administration/GetDepartmentAndOffice",
                data: JSON.stringify({ Username: username }),
                contentType: "application/json; charset=utf-8"
            }).done(SetDepartmentAndOfficeHandler)
                .fail(function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                    $.LoadingOverlay("hide");
                });

        }

        function SetDepartmentAndOfficeHandler(data) {

            if (data.Department != "" && data.Office != "") {
                $("#DepartmentText").show();
                $("#DepartmentText").val(data.Department);
                $("#DepartmentBox").hide();
                $("#Department").removeAttr("required");

                $("#OfficeText").show();
                $("#OfficeText").val(data.Office);
                $("#OfficeBox").hide();
                $("#Office").removeAttr("required");
            }
            else {
                $("#DepartmentText").hide();
                $("#DepartmentText").val('');
                $("#DepartmentBox").show();
                $("#Department").val('').trigger('change');
                $("#Department").attr("required", "true");

                $("#OfficeText").hide();
                $("#OfficeText").val('');
                $("#OfficeBox").show();
                $("#Office").val('').trigger('change');
                $("#Office").attr("required", "true");
            }

            $.LoadingOverlay("hide");

        }



    </script>
}